framework : net461
redirects: on

git https://github.com/pmiossec/NugetRepo.git master Packages: /Nugets/
source https://api.nuget.org/v3/index.json
nuget xunit
nuget xunit.runner.visualstudio
nuget PaketReproPackage